*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #471a62;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  width: 10%;
  height: 100%;
  overflow: auto;
  top: 0;
}

article {
  padding-left: 11%;
}

li {
  text-align: center;
  padding: 1em;
  transition: all 0.4s;
}

li:nth-child(even) {
  background-color: #230a3b;
}

li:nth-child(odd) {
  background-color: #4271ff;
}

a {
  text-decoration: none;
  color: wheat;
}

li:hover {
  background-color: rgba(70, 62, 108, 0.54);
  border-right: 5px solid lightgoldenrodyellow;
}

h1,
p {
  margin: 0;
  color: lightgoldenrodyellow;
}

h2 {
  color: #d4b0ff;
}
