:root {
  --colorBorder-left: linear-gradient(45deg, #bf82ff, #37f185);
  --colorBorder-center: linear-gradient(45deg, #bf82ff, #37f185);
  --colorBorder-center-2: linear-gradient(-45deg, #bf82ff, #37f185);
  --colorBorder-right: linear-gradient(90deg, #bf82ff, #37f185);
  --colorBorder-botton: linear-gradient(45deg, #bf82ff, #37f185);
  --colorBorder-top: linear-gradient(45deg, #37f185, #bf82ff);
  --alturaBorder: 5%;
}

body {
  background-color: #131c6e;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
  margin: 0;
  text-align: center;
}

ul {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

li {
  width: 300px;
  height: 80px;
  background-color: purple;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bf82ff;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: floralwhite;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.left::before {
  content: '';
  display: flex;
  width: 100%;
  height: var(--alturaBorder);
  align-self: flex-end;
  position: absolute;
  top: 95%;
  transform: translateX(-100%);
  transition: all 0.5s;
  background: var(--colorBorder-left);
}

.left:hover::before {
  transform: translateX(0);
  transition: all 0.5s;
}

.right::before {
  content: '';
  display: flex;
  width: 100%;
  height: var(--alturaBorder);
  align-self: flex-end;
  position: absolute;
  top: 95%;
  transform: translateX(100%);
  transition: all 0.5s;
  background: var(--colorBorder-right);
}

.right:hover::before {
  transform: translateX(0);
  transition: all 0.5s;
}

.center::before {
  content: '';
  display: flex;
  width: 0;
  height: var(--alturaBorder);
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(0);
  transition: all 0.5s;
  background: var(--colorBorder-center);
}

.center:hover::before {
  transition: all 0.75s;
  transform: translateX(0);
  width: 100%;
}

.center::after {
  content: '';
  display: flex;
  width: 0;
  height: var(--alturaBorder);
  position: absolute;
  top: 95%;
  right: 50%;
  transform: translateX(0);
  transition: all 0.5s;
  background: var(--colorBorder-center-2);
}

.center:hover::after {
  transition: all 0.75s;
  transform: translateX(0);
  width: 100%;
}

.all {
  position: relative;
  width: 300px;
  height: 80px;
}

.border-bottom-horizontal {
  width: 0;
  height: 5%;
  position: absolute;
  top: 95%;
  left: 100%;
  transform: translateX(0);
  transition: all 0.5s;
  background: var(--colorBorder-botton);
}

.all:hover .border-bottom-horizontal {
  transition: all 0.75s;
  transform: translateX(0);
  width: 100%;
  left: 0;
}

.border-top-horizontal {
  width: 0;
  height: 5%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: all 0.5s;
  background: var(--colorBorder-top);
}

.all:hover .border-top-horizontal {
  transition: all 0.75s;
  transform: translateX(0);
  width: 100%;
  left: 0;
}

.border-rigth-vertical {
  display: flex;
  width: 5px;
  height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(0);
  transition: all 0.8s;
  background: var(--colorBorder-botton);
}

.all:hover .border-rigth-vertical {
  transition: all 0.85s;
  transform: translateX(0);
  height: 100%;
  left: 0;
  top: 0;
}

.border-left-vertical {
  display: flex;
  width: 10px;
  height: 0;
  position: absolute;
  top: 0;
  left: calc(100% - 5px);
  transform: translateX(0);
  transition: all 0.8s;
  background: var(--colorBorder-top);
}

.all:hover .border-left-vertical {
  transition: all 0.85s;
  transform: translateX(0);
  height: 100%;
  top: 0;
}
